@import ".../../styles/variables.scss";

.section {
  min-height: 100vh;
  padding: 1em;
  text-align: center;
  background-color: $primary-color-table;
  .spinner {
    margin: 1em auto;
  }
  h3 {
    text-transform: uppercase;
  }
}
